* {
  margin: 0;
  padding: 0;
}

:root {

  --text-headline: #E1624F;
}

.container {
  max-width: 50%;
  margin: auto;
  margin-top: 88px;
}

.headline {
  color: #E1624F;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.title {
  --text-primary: #1B1B1B;
  font-family: "Open Sans";
  font-size: 36px;
  font-style: normal;
  line-height: normal;
}

.image {
  margin-top: 40px;
  height: 660px;
  align-self: stretch;
  border-radius: 28px;
}


.temple {
  height: 350px;
  align-self: stretch;
  border-radius: 28px;
  margin-top: 64px;

}

.description {
  --text-secondary: #333;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-top: 24px;
}

.used {
  --text-secondary: #333;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  
}


.linhaCentro {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.history {
  margin-top: 64px;
}

.subTitle {
  --test-primary: #1B1B1B;

  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;

}

.strong {
  --text-secondary: #333;
  font-family: "Open Sans";
  font-size: 16px;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.interesses {
  --accent-blu: #0C51A7;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #0C51A7;
}


hr {

  border: none;
  border-top: 1px solid black;
  margin: 20px 0;

}

.temple02 {
  height: 350px;
  align-self: stretch;
  border-radius: 28px;
  margin-top: 48px;
  

}


.park {
  margin-top: 48px;
  margin: 20px;
  height: 350px;
  align-self: stretch;
  margin-top: 48px;
}

.couple {
  --accent-purple: #591B98;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #591B98;
}

.family {
  --accent-pink: #E5245E;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #E5245E;
}

.budget {
  --accent-orange: #E95E10;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #E95E10;
}

footer{
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  font-size: 18px;
  color: #444;
  font-family: "Open Sans", ;

}

.coracao{
  color: black;
  margin: 0 5px;
}
