* {
  margin: 0;
  padding: 0;
}

/* 
TODOS:

01 - aplicar as variáveis nas classes ao inveś de utilizar as cores hardcoded
02 - padronizar o nome das classes para utilizar apenas inglês
03 - remover font family das classes já que ele já está sendo aplicado no :root
04 - utilizar with 100% para corrigir as imagens
05 - renomear o nome dos arquivos de imagem para seguir a convenção de kebab-case
*/

:root {
  font-family: "Open Sans";

  /* Cor do coração */
  --black-heart: #000000;

  /* Cores de texto */
  --text-headline: #E1624F;
  --text-primary: #1B1B1B;
  --text-secondary: #333;

  /* Cores de destaque */
  --accent-blue: #0C51A7;
  --accent-purple: #591B98;
  --accent-pink: #E5245E;
  --accent-orange: #E95E10;


}

.container {
  max-width: 50%;
  margin: 88px auto 0px;
}

.headline {
  color: var(--text-headline);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.sectionImage {
  height: 350px;
  align-self: stretch;
  border-radius: 28px;
  margin-top: 64px;
  width: 100%;
}

.title {
  font-size: 36px;
  font-style: normal;
  line-height: normal;
  color: var(--text-secondary);
}

.description {
  color: var(--text-secondary);
  text-align: center;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  padding-top: 24px;
}

.sectionText{

  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: var(--text-secondary);
}



.history {
  margin-top: 64px;
}

.subTitle {
  color: var(--text-primary);
  margin-top: 20px;
  font-size: 28px;
  font-style: normal;
  font-weight: 700px;
  line-height: normal;

}

.strong {
  font-size: 16px;
  color: var(--text-secondary);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.interests {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--accent-blu);
}

.separator {
  border: none;
  border-top: 1px solid #000000;
  margin: 20px 0;
}

.listItem {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.listItem.couple {
  color: var(--accent-purple);
}

.listItem.family {
  color: var(--accent-pink);
}

.listItem.budget {
  color: var(--accent-orange);
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  font-size: 18px;
  font-family: "Open Sans";
  color: var(--text-secondary);
}

.coracao {
  color: var(--black-heart);
  margin: 0 5px;
}